!!! 5
%html{lang: 'en', 'ng-app' => 'phonecat'}
  %head
    %meta{charset: 'utf-8'}
    %title Google Phone Gallery
    %link{rel: 'stylesheet', href: 'css/app.css'}
    %link{rel: 'stylesheet', href: 'css/bootstrap.css'}
    %script{src: 'lib/angular/angular.js'}

    %script{src: 'js/app7.js'}         /* routing     */
    %script{src: 'js/controllers7.js'} /* controllers */

    %div{'ng-view' => ''}

